language: go
go:
  - "1.10"
before_install:
  - go get github.com/golang/dep/cmd/dep
install:
  - dep ensure
deploy:
  provider: releases
  api_key:
    secure: zBRcLJMx1guvkewafLfwIxzMK8C8zw4oVG/peF3cj/GJKoLqTHg19RZqLlLSG2jVowTzAku9vR3oDB4eJ+pobHMCp2Uf0x0hzNXScy61TrdBUrH8oSGADae8Pk9BwHS0K6sRYeiiu8g3F1DNlcWoygNYezNGPVQoQnjxQf/PuNmDlss321/sVX+zXPdHxkR5pbMOi5L3isutzLmvISoW6o/8+1sNVp1Vn6EdRvuvWRcY6qd+tiEoqjVrFpzHjZFu6uMjivkztSZ3MPPa2TsdYJRnZjAb8CU/6P6na7qZPWLgeSbafoJuvY2o3ZWBVXjd+gs/ZARSitcDCyvQy/GbcfVWwYqkobTSelomAYxP7EUEl1h7sxUJwA12EYbRuyamligU9hcObWGC7xeecRGndLyZrwaza1JQgj0l0Hp1/hk9QULqzbWJFsRRiDYTLoXYJDIzaNckHfRjcWnP8T7aMNbCVyKnzLGHhRFk62h1weACZjbNn+PRkfElzW9qbQgs9QWNNapQ8GYQnjIS1U4yn/99/bhC6yvo57WODxDnWevvYuLRnPIsCkHfFqinX8gS2nlBwFBKCi9vku9nuPRNtMPMWKwT3SxusdpTLxoEZkw94BH6vW/Ony0ISl8pBVedSVY4h6IdiOpJjxBqRHPRkZIYvI08XoX77VijiFLht/Y=
  file:
    - release/awsLaCapa-linux-amd64
    - release/awsLaCapa-darwin-amd64
  skip_cleanup: true
  on:
    repo: lenfree/awsLaCapa
    tags: true
